<div class="container mt-2">
  <form class="col-lg-8">
    <h2>Contact</h2>
    <div class="row">
      <div class="col-lg-6 mt-2 mb-2">
        <input type="text" placeholder="First Name" class="form-control" />
      </div>
      <div class="col-lg-6 mt-2 mb-2">
        <input type="text" placeholder="Last Name" class="form-control" />
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <input type="text" placeholder="Email" class="form-control" />
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <input type="text" placeholder="Mobile" class="form-control" />
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <input type="text" placeholder="Address" class="form-control" />
      </div>
    </div>
    <a class="btn btn-sm btn-dark">Submit</a>
  </form>
</div>
