.navbar-light .navbar-nav .nav-link {
  color: var(--secondar-color);
}

.navbar-light .navbar-nav .nav-link.active-link {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
}

.navbar-brand {
  font-style: italic;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-brand img {
  border-radius: 10px;
}
